---
layout: page
title: Web-CV
eleventyNavigation:
    key: Web CV
---
<div id="web-cv-page">
    <h2 class="text-center">Web CV</h2>
    {# --------------- Intro Section --------------- #}
<section id="cv-intro" class="text-center">
    {% for item in cvData.socialMedia %}
        <a href="{{ item.socialUrl }}" target="_blank" class="px-4">
            {{ item.social }}
        </a>
    {% endfor %}
    <p class="fst-italic">
        Rising Sophomore pursuing Bachelor's of Science in Computer Science @ UT Arlington. I am interested in Software Systems Engineering, 
        Web Development, and Fintech Industry.
    </p>
</section>

    {# --------------- Education Section --------------- #}
    <section id="cv-education" class="cv-section">
        <h3 class="text-primary">Education</h3>
        <div class="cv-item">
            <strong>University of Texas at Arlington</strong>
            <br />
            <em>Bachelor of Science in Computer Science | GPA: 3.711/4</em>
            <section id="cv-coursework">
                <h4 class="text-primary">CourseWork</h4>
                <table class="cv-table">
                    {% for semester in cvData.education.courseWork %}
                        <tr>
                            <td><strong> {{ semester.title }} </strong></td>
                            <td><em> {{ semester.courses }} </em></td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
    </section>
    {# --------------- Work Experience Section --------------- #}
    <section id="cv-work" class="cv-section">
        <h3 class="text-primary">Work Experience</h3>
        <div class="cv-section-content">
        {% for item in cvData.work %}
            <div class="cv-item">
                <strong>{{ item.title }}</strong>
                <br />
                <em>{{ item.summary }}</em>
                <ul>
                    {% for point in item.description %}
                        <li>{{ point }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        </div>
    </section>
    {# --------------- Research Experience Section --------------- #}
    <section id="cv-research" class="cv-section">
        <h3 class="text-primary">Research Experience</h3>
        <div class="cv-section-content">
        {% for item in cvData.research %}
            <div class="cv-item">
                <strong>{{ item.title }}</strong>
                <br />
                <em>{{ item.summary }}</em>
                <ul>
                    {% for point in item.description %}
                        <li>{{ point }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        </div>
    </section>
    {# --------------- Other Activities Section --------------- #}
    <section id="cv-involvements" class="cv-section">
        <h3 class="text-primary">Other Involvements</h3>
        <div class="cv-section-content">
        {% for item in cvData.involvements %}
            <div class="cv-item">
                <strong>{{ item.title }}</strong>
                <br />
                <em>{{ item.summary }}</em>
                <ul>
                    {% for point in item.description %}
                        <li>{{ point }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        </div>
    </section>
    {# --------------- Other Activities Section --------------- #}
    <section id="cv-skills" class="cv-section">
        <h3 class="text-primary">Technical Skills</h3>
        <table class="cv-table">
            {% for category in cvData.skills %}
            <tr class="cv-skill-cat">
                <td>
                    <h4 class="m-1">{{ category.title }}</h4>
                </td>
                <td class="skill-list">
                    {% for item in category.specifics %}
                    <span class="cv-skill">
                        <a>{{ item.title }}</a>
                        {% if 'level' in item %}
                        <sub class="fst-small fst-italic">{{ item.level }}</sub>
                        {% endif %}
                    </span>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
</div>
