---
layout: page
---
<div id="home-page" class="text-center">
    <img src="/images/profile.jpg" alt="Prakhyat Chaube" id="profile-photo" class="float-md-end m-2" />
    <div class="text-start">
        <p>
            Hi, I am Prakhyat. I just completed the Summer 2023 classes participating in extra learning opportunities out-of-campus. 
            I am starting my Sophomore year in Fall 2023.
            I am interested in software systems engineering, fintech industry, and the web.
            Besides, I like to take 
            <a href="https://www.flickr.com/photos/198962293@N04" target="_blank">photos</a> 
            and play music when I am free. 
            If any of these excite you, I would love to <a href="#connect-with-me">connect and talk</a>!!!
        </p>
            <em>I am currently looking for internships for upcoming Summer 2024. 
            I am interested in data engineering and/or full stack development roles. 
            So if you are hiring or have any leads on suitable opportunities, 
            please <a href="mailto:pxc0272@mavs.uta.edu" target="_blank">reach out to me</a>!!</em>
        
        <p>
            This summer I have participated at 
            <a href="https://www.capitalone.com/" target="_blank">CapitalOne</a> as a participant for the Capital One Immersion Program out of huge pool of candidates.
            I worked on developing high-end products (app/websites) for Capital One.
        </p>
        <p>
            I grew up in Lumbini, Nepal and did my high school in Butwal, Rupandehi.
            I am very much interested in working for development of fintech products in Nepal.
            If you are also interested and have some idea or would like to brainstorm together, 
            feel free to <a href="#connect-with-me">reach out</a>.
        </p>
        <p>
            At UT Arlington, I have been working as student assistant in the role of IT analyst for the Office of the Information Technology starting from November 2022.
            Here are some of the <a href="/web-cv#cv-research">research projects I have worked on</a>. 
            My sophomore year, I am also planning to do research at the UTARI lab here at UTA.
        </p>
    </div>
</div>
<section id="connect-with-me" class="text-center p-3 bg-light mt-4">
    <div class="d-flex align-items-center flex-wrap">
        <div class="col-12 col-md-auto">
            <h3>Let's connect</h3>
        </div>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap my-2">
            <strong class="text-primary">prakhyatchaube [at] gmail [dot] com</strong>
            <a href="https://www.linkedin.com/in/prakhyat-c-96a4741a0/" target="_blank">LinkedIn</a>
            <a href="https://www.instagram.com/prakhyatz/" target="_blank">Instagram</a>
        </div>
    </div>
    <em>I would prefer email for communication</em>
</section>